.homeHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    /* height: 40px; */
    top: 0;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    width: 100%;
    background-color: tomato;
}
.homeHeader__left img{
    width: 75px;
}
.homeHeader__left h3{
    display: inline;
    margin-left: 10px;
}
.homeheader__avatar {
    height: 25px !important;
    width: 35px !important;
    margin-right: 8px;
}
.homeheader__avatar:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.homeHeader__icons {
    height:100%;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-direction: column; */
}
.homeHeader__icons section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.homeHeader__avatar:hover{
    transform: scale(1.1);
    cursor:pointer;
}
.homeHeader__icons section .homeHeader__name:hover{
    cursor: pointer;
    text-decoration: underline;
}
.homeHeader__icons a:hover{
    cursor:pointer;
    font-weight: bold;
    
}
